/* Estilo para el encabezado de la sección de proyectos */
#project h2 {
  font-size: 6rem; /* Tamaño de fuente grande para el título */
  text-align: center; /* Centra el texto horizontalmente */
  padding: 2rem 0; /* Espaciado superior e inferior de 2rem */ 
}

/* Contenedor de los proyectos, utilizando un diseño de cuadrícula */
.project_container {
  display: grid; /* Utiliza el modelo de diseño de cuadrícula */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Crea columnas flexibles que se ajustan automáticamente */
  gap: 2rem; /* Espacio entre los elementos de la cuadrícula */
}

/* Estilo para cada elemento de la cuadrícula */
.grid_item {
  display: grid; /* Utiliza el modelo de diseño de cuadrícula */
  place-items: center; /* Centra los elementos dentro de la cuadrícula */
}

/* Estilo para las tarjetas dentro de cada elemento de la cuadrícula */
.card {
  /* Aquí puedes agregar más estilos específicos para las tarjetas */
}